## HOMEWORK 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'First Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

In [3]:
df.rename(columns={'First Name': 'first_name', 'Age': 'age'}, inplace=True)

In [4]:
print("First 3 rows:\n", df.head(3))

First 3 rows:
   first_name  age           City
0      Alice   25       New York
1        Bob   30  San Francisco
2    Charlie   35    Los Angeles

In [5]:
mean_age = df['age'].mean()
print("Mean Age:", mean_age)

Mean Age: 32.5

In [6]:
print("\nSelected columns:\n", df[['first_name', 'City']])

Selected columns:
   first_name           City
0      Alice       New York
1        Bob  San Francisco
2    Charlie    Los Angeles
3      David        Chicago

In [7]:
df['Salary'] = np.random.randint(40000, 90000, size=len(df))
print("\nDataFrame with Salary column:\n", df)

DataFrame with Salary column:
   first_name  age           City  Salary
0      Alice   25       New York   71315
1        Bob   30  San Francisco   51365
2    Charlie   35    Los Angeles   88779
3      David   40        Chicago   78827

In [8]:
print("\nSummary Statistics:\n", df.describe())

Summary Statistics:
              age        Salary
count   4.000000      4.000000
mean   32.500000  72571.500000
std     6.454972  15844.123737
min    25.000000  51365.000000
25%    28.750000  66327.500000
50%    32.500000  75071.000000
75%    36.250000  81315.000000
max    40.000000  88779.000000

## HOMEWORK 2

In [9]:
sales_and_expenses = pd.DataFrame({
    'Month': ['Jan', 'Feb', 'Mar', 'Apr'],
    'Sales': [5000, 6000, 7500, 8000],
    'Expenses': [3000, 3500, 4000, 4500]
})

In [10]:
max_sales = sales_and_expenses['Sales'].max()
max_expenses = sales_and_expenses['Expenses'].max()
print("Maximum Sales:", max_sales)
print("Maximum Expenses:", max_expenses)

Maximum Sales: 8000
Maximum Expenses: 4500

In [11]:
min_sales = sales_and_expenses['Sales'].min()
min_expenses = sales_and_expenses['Expenses'].min()
print("Minimum Sales:", min_sales)
print("Minimum Expenses:", min_expenses)

Minimum Sales: 5000
Minimum Expenses: 3000

In [12]:
avg_sales = sales_and_expenses['Sales'].mean()
avg_expenses = sales_and_expenses['Expenses'].mean()
print("Average Sales:", avg_sales)
print("Average Expenses:", avg_expenses)

Average Sales: 6625.0
Average Expenses: 3750.0

## HOMEWORK 3

In [13]:
expenses = pd.DataFrame({
    'Category': ['Rent', 'Utilities', 'Groceries', 'Entertainment'],
    'January': [1200, 200, 300, 150],
    'February': [1300, 220, 320, 160],
    'March': [1400, 240, 330, 170],
    'April': [1500, 250, 350, 180]
})

In [14]:
expenses.set_index('Category', inplace=True)

In [15]:
print("Maximum expenses:\n", expenses.max(axis=1))

Maximum expenses:
 Category
Rent             1500
Utilities         250
Groceries         350
Entertainment     180
dtype: int64

In [16]:
print("\nMinimum expenses:\n", expenses.min(axis=1))

Minimum expenses:
 Category
Rent             1200
Utilities         200
Groceries         300
Entertainment     150
dtype: int64

In [17]:
print("\nAverage expenses:\n", expenses.mean(axis=1))

Average expenses:
 Category
Rent             1350.0
Utilities         227.5
Groceries         325.0
Entertainment     165.0
dtype: float64