#1 CREATE AND ACCESS LIST ELEMENTS
create a list containing five different fruits and print the third fruit.

In [3]:
fruits = ["apple", "banana", "watermelon", "avacodo", "cherry"]
print(fruits[2])

watermelon

#2 CONCATENATE TWO LISTS
create two lists of numbers and concatenate them into a single list

In [5]:
list1 = [ 1, 2, 3]
list2 = [ 4, 5, 6]
concatenate_list = list1 + list2
print(concatenate_list)

[1, 2, 3, 4, 5, 6]

#3 EXTRACT ELEMENTS FROM A LIST
given a list of numbers, extract the first,middle,and last elements and store them in a new list

In [4]:
numbers = [ 1, 2, 3, 4, 5,]
extracted = [numbers[0], numbers[len(numbers)//2], numbers [-1]]
print(extracted)

[1, 3, 5]

#4 CONVERT LIST TO TUPLE
create a list of five favorite movies convert it into a tuple

In [5]:
movies = ["Matrix", "Pusu", "God Father", "Scarface", "Home alone"]
movies_tuple = tuple(movies)
print(movies_tuple)

('Matrix', 'Pusu', 'God Father', 'Scarface', 'Home alone')

#5 CHECK ELEMENT IN A LIST
given a list of cities, check if "Paris" is in the list and print the result

In [10]:
cities = ["London", "Madrid", "Paris", "Rome"]
print("Paris" in cities)

True

#6 DUPLICATE A LIST WITHOUT USING LOOPS
craete a list of numbers and duplicate it without using loops

In [11]:
numbers = [ 1, 2, 3, 4, 5, 6, 7, 8 ]
duplicate_numbers = numbers * 2
print(duplicate_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

#7 SWAP FIRST AND LAST ELEMENTS OF A LIST
given a list of numbers, swap the first and last elements

In [13]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, ]
numbers [0], numbers [-1] = numbers [-1], numbers [0]
print(numbers)

[8, 2, 3, 4, 5, 6, 7, 1]

#8 SLICE A TUPLE 
create tuple of numbers from 1 to 10 and print a slice from index 3 to 7

In [15]:
number_tuple = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(number_tuple[3:7])

[4, 5, 6, 7]

#9 Count Occurrences in a List

In [16]:
colors = ["red", "blue", "green", "blue", "yellow", "blue"]
print(colors.count("blue"))

3

#10 Find the Index of an Element in a Tuple

In [17]:
animals = ("cat", "dog", "lion", "elephant")
print(animals.index("lion"))

2

#11 Merge Two Tuples

In [18]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

#12 Find the Length of a List and Tuple

In [19]:
some_list = [1, 2, 3, 4, 5]
some_tuple = (10, 20, 30, 40)
print(len(some_list), len(some_tuple))

5 4

#13  Convert Tuple to List

In [20]:
num_tuple = (10, 20, 30, 40, 50)
num_list = list(num_tuple)
print(num_list)

[10, 20, 30, 40, 50]

#14. Find Maximum and Minimum in a Tuple

In [21]:
num_tuple = (5, 12, 7, 9, 20)
print(max(num_tuple), min(num_tuple))

20 5

#15. Reverse a Tuple

In [22]:
words = ("hello", "world", "python")
print(words[::-1])

('python', 'world', 'hello')