## HOMEWORK 1 ASSIGNMENT

In [47]:
import pandas as pd

data = {
    "Date": ["2025-03-01", "2025-03-02", "2025-03-02", "2025-03-03", "2025-03-04"],
    "Product": ["Laptop", "Mouse", "Keyboard", "Monitor", "Mouse"],
    "Category": ["Electronics", "Accessories", "Accessories", "Electronics", "Accessories"],
    "Quantity": [5, 10, 7, 3, 15],
    "Price": [1000, 25, 50, 300, 20]
}

df = pd.DataFrame(data)

df.to_csv("sales_data.csv", index=False)

print("sales_data.csv is created!")

sales_data.csv is created!

In [55]:
pd.read_csv("sales_data.csv")
print(df.head())

         Date   Product     Category  Quantity  Price
0  2025-03-01    Laptop  Electronics         5   1000
1  2025-03-02     Mouse  Accessories        10     25
2  2025-03-02  Keyboard  Accessories         7     50
3  2025-03-03   Monitor  Electronics         3    300
4  2025-03-04     Mouse  Accessories        15     20

In [56]:
category_stats = df.groupby("Category").agg(
    Total_Quantity=('Quantity', 'sum'),
    Avg_Price=('Price', 'mean'),
    Max_Quantity=('Quantity', 'max')
)

print(category_stats)

             Total_Quantity   Avg_Price  Max_Quantity
Category
Accessories              32   31.666667            15
Electronics               8  650.000000             5

In [57]:
top_products = df.groupby(["Category", "Product"])["Quantity"].sum().reset_index()
top_products = top_products.loc[top_products.groupby("Category")["Quantity"].idxmax()]

print(top_products)

      Category Product  Quantity
1  Accessories   Mouse        25
2  Electronics  Laptop         5

In [63]:
df['Total_Sales'] = df['Quantity'] * df['Price']

highest_sales_date = df.groupby("Date")["Total_Sales"].sum().idxmax()

print("highest_sales_date", highest_sales_date)

highest_sales_date 2025-03-01

## HOMEWORK 2 ASSIGNMENT

In [65]:
data_orders = {
    "OrderID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "CustomerID": [101, 102, 103, 101, 104, 105, 101, 102, 106, 107],
    "Product": ["Laptop", "Mouse", "Keyboard", "Monitor", "Mouse", "Laptop", "Mouse", "Keyboard", "Monitor", "Mouse"],
    "Quantity": [1, 5, 3, 2, 10, 1, 4, 6, 2, 8],
    "Price": [1000, 20, 50, 300, 25, 900, 22, 45, 290, 30]
}

df_orders = pd.DataFrame(data_orders)
df_orders.to_csv("customer_orders.csv", index=False)

print("customer_orders.csv is created!")

customer_orders.csv is created!

In [68]:
pd.read_csv("customer_orders.csv")
print(df.head())

         Date   Product     Category  Quantity  Price  Total_Sales
0  2025-03-01    Laptop  Electronics         5   1000         5000
1  2025-03-02     Mouse  Accessories        10     25          250
2  2025-03-02  Keyboard  Accessories         7     50          350
3  2025-03-03   Monitor  Electronics         3    300          900
4  2025-03-04     Mouse  Accessories        15     20          300

In [70]:
customer_orders_count = df_orders.groupby("CustomerID")["OrderID"].count()
active_customers = customer_orders_count[customer_orders_count >= 20].index

filtered_orders = df_orders[df_orders["CustomerID"].isin(active_customers)]
print(filtered_orders)

Empty DataFrame
Columns: [OrderID, CustomerID, Product, Quantity, Price]
Index: []

In [71]:
high_value_customers = df_orders.groupby("CustomerID")["Price"].mean()
high_value_customers = high_value_customers[high_value_customers > 120]

print(high_value_customers)

CustomerID
101    440.666667
105    900.000000
106    290.000000
Name: Price, dtype: float64

In [72]:
product_sales = df_orders.groupby("Product").agg(
    Total_Quantity=('Quantity', 'sum'),
    Total_Revenue=('Quantity', 'sum')
)

filtered_products = product_sales[product_sales["Total_Quantity"] >= 5]

print(filtered_products)

          Total_Quantity  Total_Revenue
Product
Keyboard               9              9
Mouse                 27             27

## HOMEWORK 3 ASSIGNMENT

In [77]:
import sqlite3


conn = sqlite3.connect("population.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE population (
    ID INTEGER PRIMARY KEY AUTOINCREMENT,
    State TEXT,
    Population INTEGER,
    Salary INTEGER
)
""")

data = [
    ("California", 5000000, 60000),
    ("Texas", 4000000, 55000),
    ("New York", 3000000, 65000),
    ("Florida", 3500000, 50000)
]

cursor.executemany("INSERT INTO population (State, Population, Salary) VALUES (?, ?, ?)", data)

conn.commit()
conn.close()

print(" population.db created!")

OperationalError: table population already exists

In [83]:
import sqlite3


conn = sqlite3.connect("population.db")
cursor = conn.cursor()


cursor.execute("""
CREATE TABLE population (
    ID INTEGER PRIMARY KEY AUTOINCREMENT,
    State TEXT,
    Population INTEGER,
    Salary INTEGER
)
""")


data = [
    ("California", 5000000, 60000),
    ("Texas", 4000000, 55000),
    ("New York", 3000000, 65000),
    ("Florida", 3500000, 50000)
]

cursor.executemany("INSERT INTO population (State, Population, Salary) VALUES (?, ?, ?)", data)

conn.commit()
conn.close()

print(" population.db created")

OperationalError: table population already exists

In [84]:
conn = sqlite3.connect("population.db")

df_population = pd.read_sql("SELECT * FROM population", conn)

conn.close()

print(df_population.head())

   ID       State  Population  Salary
0   1  California     5000000   60000
1   2       Texas     4000000   55000
2   3    New York     3000000   65000
3   4     Florida     3500000   50000

In [85]:
category_stats = df_population.groupby("Salary").agg(
    Population_Count=('Population', 'sum'),
    Avg_Salary=('Salary', 'mean'),
    Median_Salary=('Salary', 'median')
)

total_population = category_stats["Population_Count"].sum()
category_stats["Population_Percentage"] = (category_stats["Population_Count"] / total_population) * 100

print(category_stats)

        Population_Count  Avg_Salary  Median_Salary  Population_Percentage
Salary
50000            3500000     50000.0        50000.0              22.580645
55000            4000000     55000.0        55000.0              25.806452
60000            5000000     60000.0        60000.0              32.258065
65000            3000000     65000.0        65000.0              19.354839